<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TinyDiary</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="theme-color" content="#563d7c">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">TinyDiary</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="btn btn-outline-primary" href="{{ url_for('create_new_post', user=user) }}">New note</a>
            <a class="p-2 text-dark" href="{{ url_for('show_user_profile', user=user) }}">Home</a>
            <a class="p-2 text-dark" href="{{ url_for('show_user_settings', user=user) }}">Settings</a>
        </nav>
        <a class="btn btn-light" href="{{ url_for('user_logout', user=user) }}">Logout</a>
    </div>
<div class="container mb-3">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Time to write</h1>
    </div>
    
    <form method="POST">
        <div class="container">
            <div class="row">
                <div class="form-group col-sm">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Tomorrow" required="required">
                </div>
                <div class="form-group col-sm">
                    <label for="exampleFormControlInput1">Intro</label>
                    <input type="text" class="form-control" id="intro" name="intro" placeholder="will be a nice day" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Note</label>
                <textarea class="form-control" id="text" name="text" rows="6" required="required"></textarea>
            </div>
            <div class="container text-center">
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('show_user_profile', user=user) }}">Back</a>
                <input type="submit" class="btn btn-outline-primary btn-lg" value="Create">
            </div>
        </div>
    </form>
</div>
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top mx-auto text-center">
        <a href="https://github.com/volchonokboy/tinydiary" target='_blank'><img src="https://img.icons8.com/ios-filled/50/000000/github-2.png"/></a>
    </footer>
</div>

</body>
</html>